<%- include('../../partials/head.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container new_container ">
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de Categoria</h2>
        </div>
        <div class="card-body">
            <form action="/categories/save" method="POST">
                <input type="text" name="title_categorie" class="form-control" placeholder="Nova Categoria">
                <button class="btn btn-success new_button">Cadastrar</button>
            </form>
        </div>
    </div>
</div>



<%- include('../../partials/footer.ejs') %>